<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="testcs" connectionString="Host=localhost;Port=5984;Database=love-seat-test-base;UserName=vdaron;Password=ask2000;"/>
  </connectionStrings>
	<appSettings>
		<add key="Host" value="localhost"/>
		<add key="Port" value="5984"/>
		<add key="UserName" value="vdaron"/>
		<add key="Password" value="ask2000"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
